.cta {
    position: absolute;  
    top: 160px;        /* Distanza dal bordo superiore della finestra */
    right: 20px;      /* Distanza dal bordo destro della finestra */
    max-width: 300px;      /* Larghezza del div */
    width: auto;
    height: 400;      
    padding: 10px;     /* Padding interno */
    background-color: #f8f9fa; /* Colore di sfondo */
    
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Ombra opzionale per migliorare la visibilità */
    z-index: 1000;     /* Assicura che il div sia sopra agli altri elementi della pagina */
}

.cta-image {
    border-radius: 50%; 
    width: 150px; 
    height: 150px; 
    object-fit: cover;
}

.cta-button{
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF !important ;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;

}

@media screen and (max-width: 1339px) {
    .cta {
        position: relative;
        max-width: 100%;
        top: 0;       /* Resetta la distanza dal bordo superiore */
        right: 0;     /* Resetta la distanza dal bordo destro */
        margin-bottom: 2em;
    }
}
