<h2>{{ include.name }}</h2>
<img 
    src="{{ include.picture }}" 
    style="width: 125px; border-radius: 50%; margin-bottom: 30px;"/>
<p>
    {{ include.bio }}
</p>

<a href="{{ include.web }}">
    <i class="fa-solid fa-globe fa-lg"></i> website
</a>
&nbsp;&nbsp;
<a href="{{ include.linkedin }}">
    <i class="fa-brands fa-linkedin fa-lg"></i> linkedin
</a>
<br><br>
<div>
    <h2>Contatta l'autore per chiedere una consulenza.</h2>
    <form id="requestForm">
        <label for="email">Tuo Indirizzo Email (per essere ricontattato):</label><br>
        <input type="email" id="email" name="email" required style="width: 70%; min-height: 2em;"><br><br>
    
        <label for="message">Messaggio:</label><br>
        <textarea id="message" name="message" rows="6" cols="40" style="width: 70%;" required></textarea><br><br>
        <a href="/privacy" target="_blank">Ho preso visione della privacy policy</a>
        <button type="submit">Invia</button>
    </form>
</div>

<!-- Messaggio di feedback -->
<p id="responseMessage" style="display:none;"></p>

<script>
    document.getElementById('requestForm').addEventListener('submit', async function(event) {
        event.preventDefault(); // Previene il comportamento predefinito del form (invio e ricaricamento della pagina)

        // Prendi i dati dal form
        const email = document.getElementById('email').value;
        const message = document.getElementById('message').value;

        // Invia i dati al server tramite fetch
        try {
            const response = await fetch('https://eofi05xhwpn0mig.m.pipedream.net/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    email: email,
                    message: message
                })
            });

            // Mostra il risultato al termine della richiesta
            const responseMessage = document.getElementById('responseMessage');
            if (response.ok) {
                responseMessage.style.color = 'green';
                responseMessage.textContent = 'Success!';
            } else {
                responseMessage.style.color = 'red';
                responseMessage.textContent = 'Something went wrong. Try again.';
            }
            responseMessage.style.display = 'block';

        } catch (error) {
            // In caso di errore nella fetch (problema di rete, ecc.)
            const responseMessage = document.getElementById('responseMessage');
            responseMessage.style.color = 'red';
            responseMessage.textContent = 'Something went wrong. Try again.';
            responseMessage.style.display = 'block';
        }
    });
</script>