.related-posts {
    position: absolute;  
    top: 600px;        /* Distanza dal bordo superiore della finestra */
    right: 20px;      /* Distanza dal bordo destro della finestra */
    max-width: 300px;      /* Larghezza del div */
    width: auto;
    height: auto;      /* Altezza automatica in base al contenuto */
    padding: 10px;     /* Padding interno */
    background-color: #f8f9fa; /* Colore di sfondo */
    
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Ombra opzionale per migliorare la visibilità */
    z-index: 1000;     /* Assicura che il div sia sopra agli altri elementi della pagina */
}

@media screen and (max-width: 1859px) {
    .related-posts {
        position: relative;
        max-width: 100%;
        top: 0;       /* Resetta la distanza dal bordo superiore */
        right: 0;     /* Resetta la distanza dal bordo destro */
        margin-bottom: 2em;
    }
}
