---
layout: default
---

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>



  <br>

  {% if page.translation %}
  <div>This article has a translation: {{ page.translation }}</div>
  <hr><br>
  {% endif %}


  {% if page.image %}
  <img src="{{ page.image }}"></img>
  <hr><br>
  {% endif %}  
  
  <div class="post-content">
    {{ content }}
  </div>


  <div class="cta">
    <h3>Jobs in Web3</h3>
    <img src="/pics/posts/blockchain-developer/image.webp" class="cta-image"></img>
    <p>Looking for a blockchain developer role? </p>
    <a class="cta-button" href="/get-a-job-in-web3">Read more...</a>
  </div>  

  <div style="background-color: antiquewhite; padding: 30px;" id="author">
    {% assign author = site.authors | where: 'authorId', page.author | first %}
    {% if author %}
      {% include author.html name=author.name picture=author.picture web=author.web linkedin=author.linkedin bio=author.bio %}
    {% endif %}
  </div>
</article>