---
layout: default
---
<style>
#table-of-contents {
  position: fixed;
  left: 0;
  top: 20em;
  background-color:#eee;
  margin: 20px;
  width: fit-content;
  max-width: 300px;
}

@media (max-width: 1399px) {
  #table-of-contents {
    display: none;
  }
}
.section-nav{
  padding-top: 20px;
  padding-left: 5px;
  padding-bottom: 20;
  padding-right: 20px;
}

.toc-entry{
  list-style-type: none
}

</style>

<article class="post">
this is a post!
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div id="table-of-contents">
    {{ content | toc_only }}
  </div>

  
  <div class="post-content">
    {{ content }}
  </div>

</article>