---
layout: default
---
<style>
#table-of-contents {
  position: fixed;
  left: 0;
  top: 7em;
  background-color:#eee;
  margin: 20px;
  width: fit-content;
  max-width: 250px;
}

@media (max-width: 1349px) {
  #table-of-contents {
    display: none;
  }
}
.section-nav{
  padding-top: 20px;
  padding-left: 5px;
  padding-bottom: 20;
  padding-right: 20px;
}

.toc-entry{
  list-style-type: none
}

</style>

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div id="table-of-contents">
    {{ content | toc_only }}
  </div>

  
  <div class="post-content">
    {{ content }}
  </div>


  {% if site.related_posts.size >= 1 %}
  <div>
    <h3>Related Posts</h3>
    <ul>
      {% for related_post in site.related_posts limit: 5 %}
      <li><a href="{{ related_post.url }}">{{ related_post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</article>