#toc {
  position: fixed;
  top: 9em;
  left: 20px;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: fit-content;
  max-width: 250px;
  max-height: 800px;
}

@media screen and (max-width: 1699px){
  #toc {
    position: relative;
    max-width: 100%;
    top: 0;       /* Resetta la distanza dal bordo superiore */
    left: 0;     /* Resetta la distanza dal bordo destro */
    margin-bottom: 2em;
  }  
}




  .toc-item {
    font-size: small;
    display: block;
    margin-bottom: 5px;
    text-decoration:none;
    color: #333;
    transition: background-color 0.3s ease;
  }
  
  .toc-item.active {
    font-weight: bold;
    background-color: #e0e0e0; /* Cambia il colore di sfondo */
  }
  