#toc {
  position: fixed;
  top: 9em;
  left: 20px;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: fit-content;
  max-width: 250px;
  max-height: 800px;
}

#toc::before {
  content: "Contents";
  position: absolute;
  top: -20px; /* Adjust to position above the div */
  left: 50%;
  transform: translateX(-50%);
  background-color: #611ba3; /* Optional: background for the title */
  color: #fff; /* Title text color */
  padding: 2px 5px; /* Optional: padding for better visibility */
  font-size: 14px; /* Title font size */
  border-radius: 3px; /* Optional: rounded corners */
  white-space: nowrap; /* Prevent wrapping */
}


@media screen and (max-width: 1859px){
  #toc {
    position: relative;
    max-width: 100%;
    width: 100%;
    top: 0;       /* Resetta la distanza dal bordo superiore */
    left: 0;     /* Resetta la distanza dal bordo destro */
    margin-bottom: 2em;
  }  
}




  .toc-item {
    font-size: small;
    display: block;
    margin-bottom: 5px;
    text-decoration:none;
    color: #333;
    transition: background-color 0.3s ease;
  }
  
  .toc-item.active {
    font-weight: bold;
    background-color: #e0e0e0; /* Cambia il colore di sfondo */
  }
  